---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom avatar size
.author__avatar {
  width: 80px;  // Adjust to desired size
  height: 80px;
  border-radius: 50%;  // Maintain circular shape
}
